<div class="{{cs.chatItem}}">
  <div class="{{cs.chatItemLogo}}"></div>
  <div class="{{cs.chatItemDsc}}">
    <div class="{{cs.chatItemName}}">{{name}}</div>
    <div class="{{cs.chatItemLastMessage}}">{{lastMessage}}</div>
  </div>
</div>