<li class="{{ cs.chatItem }}">
  <div class="{{ cs.avatar }}"></div>

  <div class="{{ cs.description }}">
    <h4 class="{{ cs.chatName }}">{{ name }}</h4>
    <div class="{{ cs.lastMessage }}">{{ lastMessage }}</div>
  </div>
</li>
