<div class="popup {{ cs.signIn }}">
  <h2 class="popup-title">Sign in</h2>

  <form action="/" method="get">
    {{ block loginInput }}
    {{ block passwordInput }}

    {{ block signInButton }}
    {{ block signUpButton }}
  </form>
</div>
