<h2 class="{{ cs.userName }}">Jose</h2>

<section class="settings-section">
  {{ block emailField }}
  {{ block loginField }}
  {{ block firstNameField }}
  {{ block secondNameField }}
  {{ block nicknameField }}
  {{ block phoneField }}
</section>

<section class="settings-section">
  <div class="settings-section__item">
    <a href="/user-profile-data">Change data</a>
  </div>
  <div class="settings-section__item">
    <a href="/user-profile-password">Change password</a>
  </div>
  <div class="settings-section__item">
    <a class="alert" href="/sign-in">Exit</a>
  </div>
</section>
