<div class="popup {{ cs.signUp }}">
  <h1 class="popup-title">Sign up</h1>

  <form class="{{ cs.signUpForm }}" action="" method="get">
    {{ block emailInput }}
    {{ block loginInput }}
    {{ block firstNameInput }}
    {{ block secondNameInput }}
    {{ block phoneInput }}
    {{ block passwordInput }}
    {{ block confirmPasswordInput }}

    {{ block submitButton }}
    {{ block signInButton }}
  </form>
</div>
