{{#> profileLayout  backHref="/user-profile" }}
<form class="settings-section">
  {{ block emailInput }}
  {{ block loginInput }}
  {{ block firstNameInput }}
  {{ block secondNameInput }}
  {{ block displayNameInput }}
  {{ block phoneInput }}
  {{ block submitButton }}
</form>
{{/profileLayout}}
