<div class="{{ cs.inputGroup }} {{ className }}">
  <label class="{{ cs.label }} {{ labelClass }}" for="{{ id }}">
    {{ label }}
  </label>
  {{ block input }}
  {{#if hasError }}
  <div class="{{ cs.errorMessage }}">
    {{ errorMessage }}
  </div>
  {{/if}}
</div>
