<div class="{{cs.chatArea}}">

  <nav class="{{cs.sidebar}}">
    {{> chatLinkProfile href="/user-profile" }}
    {{> chatSearch }}

    <div class="{{cs.sidebarChats}}">
      {{#each chatItems}}
        {{> chatItem name=this.name lastMessage=this.lastMessage}}
      {{/each}}
    </div>
  </nav>

  <main class="{{cs.chatMain}}">
    {{> chatHeader }}

    <div class="{{cs.startChat}}">
      Select chat to send a message
    </div>

    {{> chatFooter }}
  </main>
</div>