<div class="{{ cs.chatArea }}">
  <nav class="{{ cs.sidebar }}">
    {{ block linkProfile }}
    {{ block chatSearch }}

    <ul class="{{ cs.sidebarChats }}"></ul>
  </nav>

  <main class="{{ cs.chatMain }}">
    {{ block header }}

    <div class="{{ cs.startChat }}">Select chat to send a message</div>

    {{ block footer }}
  </main>
</div>
